# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore optional Gradle file
gradle/

# Ignore specific Eclipse file
.classpath
.project
.settings/

# Ignore Java output
bin/
