# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore optional Gradle file
gradle/

# Ignore Java output
bin/
/bin-default/
/.classpath
/config
src/main/java/net/gunivers/gunibot/command/commands/TestCommand.java
src/main/resources/commands/test.json
